body{
    background-color: aqua;
    color: #FFEB3B;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7)),url(../images/young-black-race-man-with-blueprint-stading-near-glass-building.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}